<web-app>
<servlet>
<servlet-name>HelloServ</servlet-name>
<servlet-class>com.jlcindia.servlets.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>HelloServ</servlet-name>
<url-pattern>/hello.jlc</url-pattern>
</servlet-mapping>

<filter>
<filter-name>filterA</filter-name>
<filter-class>com.jlcindia.servlets.FilterA</filter-class>
</filter>
<filter-mapping>
<filter-name>filterA</filter-name>
<url-pattern>/hello.jlc</url-pattern>
</filter-mapping>

<filter>
<filter-name>filterB</filter-name>
<filter-class>com.jlcindia.servlets.FilterB</filter-class>
</filter>
<filter-mapping>
<filter-name>filterB</filter-name>
<url-pattern>/hello.jlc</url-pattern>
</filter-mapping>


<filter>
<filter-name>filterC</filter-name>
<filter-class>com.jlcindia.servlets.FilterC</filter-class>
</filter>
<filter-mapping>
<filter-name>filterC</filter-name>
<url-pattern>/hello.jlc</url-pattern>
</filter-mapping>

</web-app>