<web-app>

<servlet>
<servlet-name>demoservlet</servlet-name>
<servlet-class>com.jlcindia.servlets.DemoServlet</servlet-class>
<init-param>
<param-name>city</param-name>
<param-value>bangalore</param-value>
</init-param>
</servlet>

<servlet-mapping>
<servlet-name>demoservlet</servlet-name>
<url-pattern>/demo.jlc</url-pattern>
</servlet-mapping>


<filter>
<filter-name>demofilter</filter-name>
<filter-class>com.jlcindia.servlets.DemoFilter</filter-class>
<init-param>
<param-name>city</param-name>
<param-value>chennai</param-value>
</init-param>
</filter>

<filter-mapping>
<filter-name>demofilter</filter-name>
<url-pattern>/demo.jlc</url-pattern>
</filter-mapping>

</web-app>