<web-app>
<servlet>
<servlet-name>master</servlet-name>
<servlet-class>com.servlets.Master</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>master</servlet-name>
<url-pattern>/master.do</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>form1.html</welcome-file>
</welcome-file-list>
</web-app>