<web-app>
<servlet>
<servlet-name>addservlet</servlet-name>
<servlet-class>com.jlcindia.servlets.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addservlet</servlet-name>
<url-pattern>/add.jlc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>remservlet</servlet-name>
<servlet-class>com.jlcindia.servlets.RemoveServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>remservlet</servlet-name>
<url-pattern>/remove.jlc</url-pattern>
</servlet-mapping>
</web-app>