<web-app>  
  
<servlet>  
<servlet-name>demoserv</servlet-name>  
<servlet-class>com.db.servlet.ConnectMysqlServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>demoserv</servlet-name>  
<url-pattern>/test.jlc</url-pattern>  
</servlet-mapping> 


<servlet>  
<servlet-name>msaccessserv</servlet-name>  
<servlet-class>com.db.servlet.ConnectMsAccessServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>msaccessserv</servlet-name>  
<url-pattern>/test2.jlc</url-pattern>  
</servlet-mapping>  
   
</web-app>  