<web-app>
<servlet>
<servlet-name>searchServ</servlet-name>
<servlet-class>com.jlcindia.servlets.SearchBookServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>searchServ</servlet-name>
<url-pattern>/searchbooks.jlc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>addToCartServ</servlet-name>
<servlet-class>com.jlcindia.servlets.AddToCartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addToCartServ</servlet-name>
<url-pattern>/addtocart.jlc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>showCartServ</servlet-name>
<servlet-class>com.jlcindia.servlets.ShowCartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>showCartServ</servlet-name>
<url-pattern>/showcart.jlc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>removeFromCartServ</servlet-name>
<servlet-class>com.jlcindia.servlets.RemoveFromCartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>removeFromCartServ</servlet-name>
<url-pattern>/removefromcart.jlc</url-pattern>
</servlet-mapping>


</web-app>