<web-app>

<servlet>
<servlet-name>logservlet</servlet-name>
<servlet-class>com.jlc.servlets.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logservlet</servlet-name>
<url-pattern>/login.jlc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>regservlet</servlet-name>
<servlet-class>com.jlc.servlets.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>regservlet</servlet-name>
<url-pattern>/register.jlc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>fwservlet</servlet-name>
<servlet-class>com.jlc.servlets.ForgotPWServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>fwservlet</servlet-name>
<url-pattern>/forgotpw.jlc</url-pattern>
</servlet-mapping>

</web-app>