<web-app>
<servlet>
<servlet-name>testserv</servlet-name>
<servlet-class>com.jlcindia.servlets.TestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>testserv</servlet-name>
<url-pattern>/test.jlc</url-pattern>
</servlet-mapping>

<listener>
<listener-class>com.jlcindia.servlets.MyContextListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.servlets.MyContextAttributeListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.servlets.MyRequestListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.servlets.MySessionListener</listener-class>
</listener>

</web-app>