<web-app>
<servlet>
<servlet-name>ServA</servlet-name>
<servlet-class>com.jlcindia.servlets.ServletA</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServA</servlet-name>
<url-pattern>/a.jlc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServB</servlet-name>
<servlet-class>com.jlcindia.servlets.ServletB</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServB</servlet-name>
<url-pattern>/b.jlc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ServC</servlet-name>
<servlet-class>com.jlcindia.servlets.ServletC</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServC</servlet-name>
<url-pattern>/c.jlc</url-pattern>
</servlet-mapping>

</web-app>